In [1]:
import pandas as pd
import numpy as np

In [8]:
pd.options.display.max_columns = 999
pd.options.display.max_rows = 200

In [2]:
df=pd.read_csv('data/data_seattle.csv')

In [15]:
df.columns

Index([u'id', u'address', u'latitude', u'longitude', u'street', u'city',
       u'state', u'county', u'zip', u'bed', u'bath', u'price', u'sqft',
       u'created_at', u'updated_at', u'remarks', u'mls_num', u'prop_type',
       u'details', u'status', u'list_date', u'miles_ratio', u'lot_size',
       u'year_built', u'parking_spaces', u'garage', u'neighborhood',
       u'school_district', u'lonlat', u'mls', u'mls_status', u'mls_prop_type',
       u'pending_date', u'selling_date', u'selling_price',
       u'city_neighborhood', u'street_neighborhood'],
      dtype='object')

In [6]:
df=df.drop('Unnamed: 0', axis=1)

In [52]:
df[df['prop_type']=='Residential']['mls_prop_type'].value_counts()

16 - 1 Story w/Bsmnt.     198
32 - Townhouse            186
18 - 2 Stories w/Bsmnt    144
10 - 1 Story               83
15 - Multi Level           68
12 - 2 Story               61
17 - 1 1/2 Stry w/Bsmt     56
Residential                28
13 - Tri-Level             27
14 - Split Entry           23
11 - 1 1/2 Story           17
24 - Floating Home          1
Name: mls_prop_type, dtype: int64

In [51]:
df['mls_prop_type'].value_counts()

30 - Condo (1 Level)      450
32 - Townhouse            203
16 - 1 Story w/Bsmnt.     198
18 - 2 Stories w/Bsmnt    144
10 - 1 Story               83
15 - Multi Level           68
12 - 2 Story               61
17 - 1 1/2 Stry w/Bsmt     56
52 - Duplex                30
Residential                28
31 - Condo (2 Levels)      28
13 - Tri-Level             27
14 - Split Entry           23
40 - Res-Less thn 1 Ac     21
34 - Condo (3 Levels)      19
11 - 1 1/2 Story           17
55 - 5-Plex                13
33 - Co-op                 11
53 - Tri-plex               9
56 - 10+ Units              7
42 - Multi-Family           5
54 - 4-Plex                 4
41 - Res-Over 1 Acre        3
43 - Comm/Industrial        3
24 - Floating Home          1
Name: mls_prop_type, dtype: int64

In [12]:
len(np.unique(df.street_neighborhood))

67

In [14]:
df.street_neighborhood.value_counts()[0:10]

Belltown                     91
Phinney Ridge / Greenwood    88
Ballard                      86
Broadway (Capitol Hill)      65
Magnolia                     65
Broadview / Bitter Lake      56
Ravenna / Bryant             50
Rainier Beach                50
Wedgeview Ridge              45
Beacon Hill                  44
Name: street_neighborhood, dtype: int64

In [ ]:
df["A"][(df["B"] > 50) & (df["C"] == 900)]

In [62]:
minbed=1
maxbed=2
minbath=1
maxbath=2
prop_type='Residential'
neighborhood='Ballard'

In [64]:
df_select= df[(df['bed']<=maxbed) & (df['bed']>=minbed) &
               (df['bath']<=maxbath) & (df['bed']>=minbath) &
               (df['prop_type']==prop_type)&
               (df['street_neighborhood']==neighborhood)][['id','remarks']]

In [61]:
#df_select.street_neighborhood.value_counts()[0:10]

Phinney Ridge / Greenwood    15
Gatewood                     11
Fremont                       9
South Delridge                9
Ravenna / Bryant              9
High Point                    9
Ballard                       7
North Beacon Hill             7
Minor                         7
Rainier Beach                 7
Name: street_neighborhood, dtype: int64

In [65]:
df_select.reset_index(drop=True,inplace=True)

In [66]:
df_select.head(2)

       id                                            remarks
0    5558  Bright and sunny storybook home with old world...
1  229451  Northwest Modern Builders unveils a stylish co...

In [ ]:
#remove punctuations
import string
punctuations_=set(string.punctuation)
textreview=[]
for i in range(df_select.shape[0]):
    textreview.append(''.join(word for word in df_select['remarks'][i] if word not in punctuations_))

In [106]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
## Find the most commonly used words to add to your stopwords first

In [107]:
vectorizer = TfidfVectorizer(stop_words='english')
vectors = vectorizer.fit_transform(textreview)
review_vectors=vectors.toarray()

In [108]:
feature_array = np.array(vectorizer.get_feature_names())
tfidf_sorting = np.argsort(vectors.toarray()).flatten()[::-1]

#n = 3
ordered_features = feature_array[tfidf_sorting][:-1]

In [116]:
np.unique(ordered_features[0:-1])[0:400]

array([u'2nd', u'3rd', u'access', u'adorable', u'alcove', u'alley',
       u'appliances', u'appls', u'apps', u'area', u'attached',
       u'attention', u'available', u'awaiting', u'away', u'ba',
       u'backyard', u'ballard', u'bar', u'bars', u'basement', u'bath',
       u'bathed', u'bbqs', u'beach', u'beautiful', u'beautifulmodern',
       u'bed', u'bedroom', u'bedrooms', u'beds', u'bertazzoni', u'best',
       u'blinds', u'boasts', u'bosch', u'br', u'breakfast', u'bright',
       u'builders', u'builtins', u'burning', u'cabinets', u'cafes', u'car',
       u'ceilings', u'center', u'charm', u'chefs', u'cherry', u'city',
       u'climate', u'close', u'cm', u'collection', u'community',
       u'concept', u'concrete', u'contemporary', u'control', u'cottage',
       u'counters', u'coveted', u'cozy', u'craftsman', u'custom', u'deck',
       u'decks', u'den', u'design', u'designated', u'desirable',
       u'detached', u'detailenjoy', u'details', u'dining', u'doors',
       u'double', u'downtown', u'dream', u'ductless', u'ease', u'easy',
       u'edge', u'efficiencies', u'enclave', u'endunit', u'enjoy',
       u'entertaining', u'enviable', u'epicenter', u'espresso',
       u'eurostyled', u'exceptional', u'exciting', u'explore', u'favorite',
       u'features', u'finishes', u'fir', u'fireplace', u'fisher', u'floor',
       u'floorplan', u'floors', u'flrs', u'food', u'freestanding',
       u'fremont', u'french', u'fresh', u'functionality', u'garage',
       u'garden', u'gardener', u'gas', u'generous', u'giant', u'gleaming',
       u'good', u'gorgeous', u'great', u'guaranteed', u'happy',
       u'hardwood', u'hardwoods', u'heart', u'heat', u'height', u'highend',
       u'hip', u'home', u'honeycomb', u'hoods', u'hottest', u'house',
       u'houses', u'huge', u'ideal', u'imagination', u'immaculate',
       u'impeccably', u'include', u'including', u'just', u'kitch',
       u'kitchen', u'landscaping', u'large', u'levels', u'life',
       u'lifetime', u'light', u'lightfilled', u'lightinviting', u'live',
       u'livework', u'living', u'll', u'location', u'lofted', u'love',
       u'magnificent', u'main', u'master', u'minisplit', u'modern',
       u'moments', u'mountain', u'natural', u'nearby', u'neighborhood',
       u'new', u'newer', u'nightlife', u'northwest', u'oak', u'offers',
       u'offstreet', u'old', u'olympic', u'open', u'opens', u'original',
       u'outside', u'overlooking', u'owc', u'pane', u'parking', u'patio',
       u'paykel', u'perfect', u'phinney', u'picture', u'place', u'plan',
       u'plus', u'potentialstorage', u'preserved', u'prime', u'private',
       u'puget', u'pumps', u'quartz', u'quiet', u'radiant', u'rail',
       u'range', u'restaurants', u'rich', u'rooftop', u'room', u'row',
       u'seattle', u'shops', u'slab', u'slate', u'sleek', u'small',
       u'sound', u'southfacing', u'spaces', u'spacious', u'spend', u'ss',
       u'stainless', u'starts', u'steel', u'stellar', u'step', u'steps',
       u'stone', u'storage', u'storybook', u'studioshop', u'stunning',
       u'stylish', u'summer', u'sundrenched', u'sunny', u'superior',
       u'sweeping', u'tile', u'tons', u'townhome', u'townhouse', u'tucked',
       u'turnofthecentury', u'unfinished', u'unique', u'unit', u'unveils',
       u'updated', u'updates', u'upper', u'urban', u'vaulted', u'views',
       u'water', u'wd', u'weekend', u'wgleaming', u'wgorgeous', u'windows',
       u'wood', u'world', u'wraparound', u'wstainless', u'yard',
       u'yearround', u'youll'],
      dtype='<U16')

In [128]:
from nltk.corpus import stopwords

stopwords_ = set(stopwords.words('english'))

In [130]:
add_stopwords=[u'1st',u'2nd',u'3rd',u'bed',u'beds',u'bedroom',u'bedrooms',u'br',u'bath',u'bathroom',u'bathroom',u'ba',
 u'floor',u'floors',u'house',u'appliances', u'appls', u'apps']

In [132]:
for word in add_stopwords:
    stopwords_.add(word)

In [126]:
stemmed_feature_array = np.array(stemvectorizer.get_feature_names())
stemmed_tfidf_sorting = np.argsort(stemmedvectors.toarray()).flatten()[::-1]

#n = 3
stemmed_ordered_features = stemmed_feature_array[stemmed_tfidf_sorting][:-1]

In [127]:
np.unique(stemmed_ordered_features[0:-1])[0:400]

array([u'2nd', u'3rd', u'access', u'ador', u'alcov', u'alley', u'app',
       u'appl', u'applianc', u'area', u'attach', u'attent', u'avail',
       u'await', u'away', u'ba', u'backyard', u'ballard', u'bar',
       u'basement', u'bath', u'bbqs', u'beach', u'beauti',
       u'beautifulmodern', u'bed', u'bedroom', u'bertazzoni', u'best',
       u'blind', u'boast', u'bosch', u'br', u'breakfast', u'bright',
       u'builder', u'builtin', u'burn', u'cabinet', u'cafe', u'car',
       u'ceil', u'center', u'charm', u'chef', u'cherri', u'citi',
       u'climat', u'close', u'cm', u'collect', u'communiti', u'concept',
       u'concret', u'contemporari', u'control', u'cottag', u'counter',
       u'covet', u'cozi', u'craftsman', u'custom', u'deck', u'den',
       u'design', u'desir', u'detach', u'detail', u'detailenjoy', u'dine',
       u'door', u'doubl', u'downtown', u'dream', u'ductless', u'eas',
       u'easi', u'edg', u'effici', u'enclav', u'endunit', u'enjoy',
       u'entertain', u'enviabl', u'epicent', u'espresso', u'eurostyl',
       u'except', u'excit', u'explor', u'favorit', u'featur', u'finish',
       u'fir', u'fireplac', u'fisher', u'floor', u'floorplan', u'flrs',
       u'food', u'freestand', u'fremont', u'french', u'fresh', u'function',
       u'garag', u'garden', u'gas', u'generous', u'giant', u'gleam',
       u'good', u'gorgeous', u'great', u'guarante', u'happi', u'hardwood',
       u'heart', u'heat', u'height', u'highend', u'hip', u'home',
       u'honeycomb', u'hood', u'hottest', u'hous', u'huge', u'ideal',
       u'imagin', u'immacul', u'impecc', u'includ', u'just', u'kitch',
       u'kitchen', u'landscap', u'larg', u'level', u'life', u'lifetim',
       u'light', u'lightfil', u'lightinvit', u'live', u'livework', u'll',
       u'locat', u'loft', u'love', u'magnific', u'main', u'master',
       u'minisplit', u'modern', u'moment', u'mountain', u'natur',
       u'nearbi', u'neighborhood', u'new', u'newer', u'nightlif',
       u'northwest', u'oak', u'offer', u'offstreet', u'old', u'olymp',
       u'open', u'origin', u'outsid', u'overlook', u'owc', u'pane',
       u'park', u'patio', u'paykel', u'perfect', u'phinney', u'pictur',
       u'place', u'plan', u'plus', u'potentialstorag', u'preserv',
       u'prime', u'privat', u'puget', u'pump', u'quartz', u'quiet',
       u'radiant', u'rail', u'rang', u'restaur', u'rich', u'rooftop',
       u'room', u'row', u'seattl', u'shop', u'slab', u'slate', u'sleek',
       u'small', u'sound', u'southfac', u'space', u'spacious', u'spend',
       u'ss', u'stainless', u'start', u'steel', u'stellar', u'step',
       u'stone', u'storag', u'storybook', u'studioshop', u'stun',
       u'stylish', u'summer', u'sundrench', u'sunni', u'superior',
       u'sweep', u'tile', u'ton', u'townhom', u'townhous', u'tuck',
       u'turnofthecenturi', u'unfinish', u'uniqu', u'unit', u'unveil',
       u'updat', u'upper', u'urban', u'vault', u'view', u'water', u'wd',
       u'weekend', u'wgleam', u'wgorgeous', u'window', u'wood', u'world',
       u'wraparound', u'wstainless', u'yard', u'yearround', u'youll'],
      dtype='<U16')

In [ ]:
stemvectorizer=StemmedTfidfVectorizer()
stemmedvectors=stemvectorizer.fit_transform(textreview)
stemmed_review_vectors=stemmedvectors.toarray()

In [71]:
#remove punctuations
import string
punctuations_=set(string.punctuation)
textreview=[]
for i in range(df_select.shape[0]):
    textreview.append(''.join(word for word in df_select['remarks'][i] if word not in punctuations_))

In [72]:
textreview[0]

'Bright and sunny storybook home with old world charm and all the modern updates Huge modern kitchen w tile floors  tons of storage guaranteed to be the heart of your happy home Step out thru the French doors to a beautiful deck overlooking an adorable private back yard \xe2\x80\x93 a gardener\xe2\x80\x99s dream Fir floors updated bath and all double pane windows Full height basement awaiting your imagination Superior location with easy access to Ballard Fremont and downtown The good life starts here'

In [123]:
#Snowvall Stemmer
from nltk.stem.snowball import SnowballStemmer
class StemmedTfidfVectorizer(TfidfVectorizer):
    def build_analyzer(self):
        stemmer_porter = SnowballStemmer('english')
        analyzer = super(TfidfVectorizer, self).build_analyzer()
        return lambda doc: [stemmer_porter.stem(word) for word in analyzer(doc)]

In [156]:
stemvectorizer=StemmedTfidfVectorizer(stop_words=stopwords_, max_features=10)
stemmedvectors=stemvectorizer.fit_transform(textreview)
stemmed_review_vectors=stemmedvectors.toarray()

In [157]:
from sklearn.metrics.pairwise import cosine_similarity
cos_sim = cosine_similarity(stemmed_review_vectors[0:1], stemmed_review_vectors)

In [158]:
n=4
home_list = df_select['id']
sb_stemmed_similatiry_dict={}
for i in range(len(home_list)):
    cos_sim = cosine_similarity(stemmed_review_vectors[i:(i+1)], stemmed_review_vectors)
    order = list(cos_sim.argsort()[0][::-1][1:n])
    top_three = home_list[order]
    sb_stemmed_similatiry_dict[home_list[i]]=top_three.values.tolist()

In [159]:
sb_stemmed_similatiry_dict

{5558: [240833, 100419, 229451],
 12304: [82247, 240833, 5558],
 82247: [229451, 12304, 100419],
 100419: [229451, 240833, 5558],
 229451: [100419, 82247, 240833],
 240833: [5558, 264174, 100419],
 264174: [240833, 100419, 229451]}

In [145]:
sb_stemmed_similatiry_dict

{5558: [229451, 12304, 240833],
 12304: [5558, 264174, 82247],
 82247: [12304, 5558, 264174],
 100419: [264174, 240833, 229451],
 229451: [5558, 100419, 264174],
 240833: [5558, 264174, 100419],
 264174: [12304, 100419, 240833]}

In [146]:
df_select['remarks'][df_select['id'].isin([5558,229451, 12304,240833])].values

array([ 'Bright and sunny storybook home with old world charm and all the modern updates. Huge, modern kitchen w/ tile floors & tons of storage, guaranteed to be the heart of your happy home. Step out thru the French doors to a beautiful deck overlooking an adorable, private back yard \xe2\x80\x93 a gardener\xe2\x80\x99s dream. Fir floors, updated bath and all double pane windows. Full height basement awaiting your imagination. Superior location with easy access to Ballard, Fremont and downtown. The good life starts here!',
       'Northwest Modern Builders unveils a stylish collection of sleek row houses in the center of Seattle\xe2\x80\x99s favorite neighborhood \xe2\x80\x93 Ballard. Enjoy open concept living including double height lofted spaces & large windows. Desirable home efficiencies throughout including ductless mini-split heat pumps for year-round climate control. Large rooftop decks with water for your urban garden & gas for your weekend BBQs. Steps away from Ballard\xe2\x80\x99s best shops, bars, & restaurants. Last unit available!',
       'This updated, immaculate, two bedroom, two bath townhouse is in the perfect location between Ballard & Fremont.  Upper floor features an open floorplan w/gleaming cherry hardwood floors, wood burning fireplace, & vaulted ceilings.  The kitchen has stainless steel apps, slate tile counters, newer cabinets, & a breakfast bar. Two master bedrooms! Outside you will find a deck, patio, & small yard with alley access, one car attached garage & more!  Close to everything - this unit is a must see!',
       'Spend summer & a lifetime in this fresh & freestanding contemporary cottage. Tucked in the quiet back of this unique 5 house enclave, this home features open euro-styled living room & kitchen w/stainless appliances, giant light-inviting windows, & radiant concrete floors. 2nd floor with BR, full BA, & W/D. 3rd floor with sun-drenched 2nd BR & stellar south-facing rooftop deck. Private backyard & designated off-street parking. Ideal location moments from the epicenter of Ballard hip shops & food.'], dtype=object)

In [147]:
df[df['id'].isin([5558,229451, 12304,240833])][['id','bed','bath','sqft','address','latitude','longitude','price','selling_price','mls_prop_type']]

,id,bed,bath,sqft,address,latitude,longitude,price,selling_price,mls_prop_type
39,5558,2.0,1.0,1440,314 NW 46th St,47.662403,-122.361488,540000,577600,16 - 1 Story w/Bsmnt.
357,229451,2.0,1.5,1176,6423 17th St NW,47.675509,-122.378960,529000,529000,32 - Townhouse
916,12304,2.0,2.0,1000,927 NW 51st St Unit #B,47.665504,-122.369942,399950,430000,32 - Townhouse
1420,240833,2.0,1.5,1079,1718 NW 61st St,47.673117,-122.379612,589000,585000,15 - Multi Level

In [160]:
df[df['id'].isin([5558,240833, 100419, 229451])][['id','bed','bath','sqft','address','latitude','longitude','price','selling_price','mls_prop_type']]

,id,bed,bath,sqft,address,latitude,longitude,price,selling_price,mls_prop_type
39,5558,2.0,1.00,1440,314 NW 46th St,47.662403,-122.361488,540000,577600,16 - 1 Story w/Bsmnt.
357,229451,2.0,1.50,1176,6423 17th St NW,47.675509,-122.378960,529000,529000,32 - Townhouse
851,100419,2.0,1.75,1217,6312 32nd Ave NW Unit #F,47.674858,-122.398041,629900,624000,NaN
1420,240833,2.0,1.50,1079,1718 NW 61st St,47.673117,-122.379612,589000,585000,15 - Multi Level